<p id="notice"><%= notice %></p>

<h1>Delete Subject</h1>

<p>
  <strong>Are you sure you want to permanently delete this subject?</strong>
  <br>
  <%= @book.title %>
</p>

<div class="">
  <%= form.delete %>
</div>
